<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Patients-Illnesses</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script>
    
      function toggleDelete(id) {
        let element = document.getElementById("delete");
        if (element.style.display === "none") {
          var fields = document.getElementById('delete-fieldset');
          var newlabel = document.createElement("Label");
          newlabel.id='created-label';
          newlabel.innerHTML = `ID: ${id}`;
          fields.appendChild(newlabel);
          element.style.display = "block";
        } else {
          let element = document.getElementById("delete");
          element.style.display = "none";
          let oldLabel = document.getElementById('created-label');
          oldLabel.remove();
        }
      }
    </script>
  </head>

<body>
  <nav>
    <ul>
      <li><a href="./index">Home</a></li>
      <li><a href="./doctors">Doctors</a></li>
      <li><a href="./patients">Patients</a></li>
      <li><a href="./patients_illnesses">Patients-Illnesses</a></li>
      <li><a href="./appointments">Appointments</a></li>
      <li><a href="./illnesses">Illnesses</a></li>
      <li><a href="./treatments">Treatments</a></li>
      <li><a href="./illnesses-treatments">Illnesses-Treatments</a></li>
    </ul>
  </nav>

  <h1>Patients-Illnesses</h1>

  <div class="table-wrapper" id="all-patients-div">
    <p><strong>Browse Patients-Illnesses</strong></p>
    <table id="all-patients">
      <tr>
        <th>ID</th>
        <th>Patient ID</th>
        <th>Illness ID</th>
        <th>Delete</th>
      </tr>
      <tr>
        <td>1</td>
        <td>1</td>
        <td>3</td>
        <td><a href="#" onclick="toggleDelete(`1 Mark Hanson - Influenza`)"><img class="delete-icon" src="assets/delete-icon.png"></a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>2</td>
        <td>4</td>
        <td><a href="#" onclick="toggleDelete(`2 Alice Wells - Asthma`)"><img class="delete-icon" src="assets/delete-icon.png"></a></td>
      </tr>
      <tr>
        <td>3</td>
        <td>2</td>
        <td>5</td>
        <td><a href="#" onclick="toggleDelete(`3 Alice Wells - Pneumonia`)"><img class="delete-icon" src="assets/delete-icon.png"></a></td>
      </tr>
      <tr>
        <td>4</td>
        <td>4</td>
        <td>2</td>
        <td><a href="#" onclick="toggleDelete(`4 Craig Ford - Conjunctivitis`)"><img class="delete-icon" src="assets/delete-icon.png"></a></td>
      </tr>
      <tr>
        <td>5</td>
        <td>5</td>
        <td>1</td>
        <td><a href="#" onclick="toggleDelete(`5 Joey Clark - Type 2 Diabetes`)"><img class="delete-icon" src="assets/delete-icon.png"></a></td>
      </tr>
    </table>
  </div>

  <div id="insert" style="display: block">
      <form id="addPatientIllness">
          <legend><strong>Add Patient_Illness</strong></legend>
            <fieldset class="fields">
            <label> Patient ID </label> <select name="patientID">
                <option value="0">&nbsp;</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    </select>
              <label> Illness ID </label> <select name="illnessID">
                <option value="0">&nbsp;</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  </select>
            </fieldset>
            <input class="btn" type="submit" id="addPatientIllness" value="Add new Patient-Illness">
            <input class="btn" type="button" value="Cancel">
    </form> 
  </div>

  <br>
  <div id="delete" style="display: none">
    <form id="deletePatientIllness">
        <legend><strong>Delete Patient_Illness</strong></legend>
            <fieldset id="delete-fieldset" class="fields">
            <p>Are you sure you wish to delete the following?</p>              
      </fieldset>
      <input class="btn" type="submit" id="deletePatientIllness" value="Delete Patient-Illness">
            <input class="btn" type="button" value="Cancel" onclick="toggleDelete()" >
    </form> 
  </div>
</body>
</html>
